.content {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.agent-navbar {
    display: flex;
    margin: 0 10px;
    background-color: #FFFFFF;
}

.icon-type {
    margin: 15px 10px;
    cursor: pointer;
}

.active {
    color: #00B4CF;
}

.agent-list-section {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    overflow: auto;
    height: 100vh;
    max-height: 700px;
}

.agent-list-section li {
    list-style: none;
}

@media screen and (max-width: 1023px) {
    .icon-type {
        display: none;
    }

    .list {
        max-height: 100vh;
    }
}

@media screen and (max-width: 767px) {
    .content {
        width: 100%;
    }

    .agent-navbar {
        flex-direction: column-reverse;
        background-color: #EFEFEF;
    }
}
