* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.header {
  padding: 10px;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #E1E4E6;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header img {
  height: 40px;
}

.header .user-avatar {
  border-radius: 50%;
  position: absolute;
  right: 100px;
}

.user-menu-list {
  position: absolute;
  right: 85px;
  opacity: 0;
}

.header label {
  cursor: default;
  position: absolute;
  right: 85px;
}

.user-menu-list + label {
  position: absolute;
  top: 18px;
  right: 45px;
  font-size: 0;
  transform: rotate(90deg);
}

.user-menu-list + label:before {
  content: "❯";
  font-size: 20px;
  color: #CCC;
  padding: 10px 27px 10px 27px;
}

.main {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 0;
  display: flex;
  bottom: 20px;
  overflow: auto;
}

.left-navigation {
  background-color: #2D4054;
  overflow: hidden;
  float: left;
  width: 20%;
}

.navigation-message {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 20px 0;
  height: 400px;
}

.navigation-message ul {
  height: 45px;
  line-height: 45px;
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.nav:hover {
   color: #00B4CF;
}

.history-heading {
  text-align: left;
  margin-left: 8%;
  font-size: 24px;
  color: #ccc;
}

.history-list {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
  text-align: left;
}

.history-list li:hover {
  color: #00B4CF;
}

.agent {
  background-color: #61dafb;
  width: 80%;
}

