.navigation {
    background-color: #2D4054;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.navigation-message {
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px - 470px);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.icon-close {
    display: none;
    color: #00B4CF;
    font-size: 20px;
    margin-left: calc(100% - 30px);
    margin-top: 10px;
}

.navigation-message ul {
    line-height: 45px;
    list-style: none;
}

.navigation-message li {
    text-align: left;
    padding: 5px 32px;
    color: #FFFFFF;
}
.navigation-message li:first-child {
    margin-top: 20px;
}

.navigation-message li:hover {
    background-color: #435466;
}

.navigation-message li:hover .link {
    color: #00B4CF;
}

.iconfont {
    margin-right: 15px;
}

.iconfont img {
    height: 18px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.active-li {
    color: #00B4CF;
    background-color: #435466;
}

@media screen and (max-width: 1023px) {
    .navigation {
        z-index: 2;
        position: absolute;
        left: 0;
    }

    .icon-close {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        display: none;
    }
}
