.input-search {
    position: relative;
    padding: 8px 80px 8px 10px;
    background-color: #FFFFFF;
    flex: 1 1 auto;
}

.input-search .iconfont {
    color: #979797;
    position: absolute;
    margin-top: 5px;
    margin-left: 8px;
}

.input-search input {
    height: 32px;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 34px;
    background-color: #F3F3F3;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
}
