.header {
    padding: 10px;
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #E1E4E6;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 40px;
}

.header .logo {
    position: absolute;
    left: 50%;
}

.header .user-avatar {
    border-radius: 50%;
    position: absolute;
    right: 100px;
    top: 10px;
}

.dropdown {
    display: inline-block;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 3%;
    background-color: #FFFFFF;
}

.dropdown-content ul {
    list-style: none;
    padding: 0 10px;
}

.dropdown-content li {
    padding: 10px;
}

.user-link {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content li:hover {
    background-color: #EFEFEF;
}
