.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 70px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.icon-navicon {
    opacity: 0;
}

.header img {
    height: 40px;
}

.header .user-avatar {
    border-radius: 50%;
    cursor: pointer;
}

.icon-angle-down {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -100%;
    background-color: #FFFFFF;
    min-width: 120px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-content ul {
    list-style: none;
    padding: 10px 0;
}

.dropdown-content li {
    padding: 10px;
}

.user-link {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content li:hover {
    background-color: #EFEFEF;
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon-angle-down {
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
        position: relative;
        top: -10px;
    }

    .icon-navicon {
        opacity: 0;
        margin-right: 60px;
        padding-left: 20px;
    }

}

@media screen and (max-width: 1023px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon-angle-down {
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
        position: relative;
        top: -10px;
    }

    .icon-navicon {
        opacity: 100%;
        margin-right: 30px;
        padding-left: 20px;
        font-size: 20px;
    }
}
