.overview {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0 10px;
}

.yellow {
    background-color: #FF9A2A;
}

.green {
    background-color: #7FBC39;
}

.card {
    position: relative;
    width: 270px;
    height: 124px;
    padding: 12px;
    box-sizing: border-box;
    color: #ffffff;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}

p {
    font-size: 48px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 8%;
}

.card .iconfont {
    position: absolute;
    top: -10%;
    left: 30%;
    font-size: 144px;
    color: rgba(255, 255, 255, 0.2);
}

.icon-cog {
    animation: change-cog 2s;
    animation-iteration-count: infinite;
}

@keyframes change-cog {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg)}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.icon-coffee {
    animation: change-coffee 2s linear alternate;
    animation-iteration-count: infinite;
}

@keyframes change-coffee {
    from {left: 0}
    to {left: calc(100% - 144px)}
}


.card-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 270px;
    height: 124px;
    padding: 12px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.overview-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.overview-item span:last-child {
    margin-top: 30px;
    font-size: 20px;
    color: #000000;
}
