.agent-item {
    padding: 16px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.agent-os {
    margin-right: 10px;
}

.agent-detail {
    flex: 1 auto;
}

.agent-info, .agent-operation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}
.agent-info {
    margin-bottom: 20px;
}

.name-with-icon, .ip-with-icon, .location-with-icon {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.name {
    color: #00B4CF;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.agent-info .iconfont {
    font-size: 16px;
    color: #ACACAC;
}

.info-label {
    color: #FFFFFF;
    padding: 1px 5px;
    margin-right: 40px;
    font-size: 14px;
}

.agent-operation {
    display: flex;
    justify-content: space-between;
}

.operation-group {
    flex: 1 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.add-button {
    background-color: #00B4CF;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.add-button:hover {
    background-color: #01869A;
}

.add-button .iconfont {
    font-size: 18px;
    margin: 0 auto;
    line-height: 30px;
    color: #FFFFFF;
}

.resource-button {
    background-color: #EFEFEF;
    margin: 0 4px;
    border: none;
    height: 30px;
    padding: 0 6px;
}

.resource-button span {
    font-size: 14px;
    text-transform: capitalize;
    color: #2D4054;
}

.resource-button .iconfont {
    margin-left: 8px;
    margin-right: 0;
    font-size: 16px;
    fill:  #2D4054;
}

.deny-button {
    background-color: #00B4CF;
    color: #FFFFFF;
    border: none;
    padding: 0 9px 0 6px;
    height: 30px;
}

.deny-button:hover {
    background-color: #01869A;
}
